#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/home/shafiq/apps/navicat/start_navicat
Name=Navicat
Comment=DB Admin Tool
Icon=/home/shafiq/apps/navicat/navicat.png
